* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Besley", serif;
  color: #fff;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.text-content {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.section-link {
  display: block;
  font-size: 1.25rem;
  padding: 0.6rem 1.5rem;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section-link:hover {
  color: #bbb;
}

.home-square {
  padding: 1rem;
}

.home-btn {
  color: #fff;
  padding: 1rem 1.25rem;
  font-size: 1.4rem;
  border-radius: 0;
  border: 5px solid #fff;
}
